In [1]:
import numpy as np
import pandas as pd
from lightgbm import LGBMRegressor
from sklearn.model_selection import cross_val_score

In [2]:
df=pd.read_csv('/home/dmitry/Documents/lecture 5/Train.csv')
del df['date'], df['g_lift'], df['kw2']
df = df.replace(np.nan, -999)

In [3]:
df1=pd.read_csv('/home/dmitry/Documents/lecture 5/Test.csv')
del df1['date'],df1['g_lift'], df1['kw2']

df1 = df1.replace(np.nan, -999)

In [ ]:
#df = df[(df['price'] < 40000000) & (df['price'] > 800000)]
#df = df.reset_index(drop=True)

In [ ]:
labels = np.array (df['price'])
df = df.drop('price', axis = 1)
feature_list = list(df.columns)

In [ ]:
feature_list = list(df1.columns)

In [ ]:
from sklearn.model_selection import train_test_split
train_df, test_df,train_labels,test_labels = train_test_split(df,labels,test_size = 0.25, random_state = 1000)

In [ ]:
for a in range(30, 100, 10):
    for b in range(3, 15, 1):
        for d in range (100, 500, 50):
            model = LGBMRegressor(boosting_type = 'gbdt', num_leaves = a, max_depth = b,
                                  n_estimators = d,random_state = 1000) 
            model.fit(train_df, train_labels)
            scores = cross_val_score(model,train_df, train_labels, cv=5)
            predictions = model.predict (test_df)
            errors = abs(predictions - test_labels)
            print ('a', a, 'b', b, 'd', d, 'MAE' , round(np.mean(errors)), 'score', scores)

Choose the best parameters

For kaggle:

In [4]:
labels = np.array (df['price'])
feature_list = list(df.columns)

In [5]:
feature_list = list(df1.columns)

In [6]:
from sklearn.model_selection import train_test_split
train_df, test_df,train_labels,test_labels = train_test_split( df.drop('price', axis = 1),df.price, test_size = 0.25, shuffle = True, random_state = 3000)

In [7]:
from lightgbm import LGBMRegressor
model = LGBMRegressor(boosting_type = 'gbdt', num_leaves = 40, max_depth = 14,
                                  n_estimators = 450 )
model.fit(train_df, train_labels);

In [8]:
predictions = model.predict(df1)

In [9]:
df1['price'] = predictions

In [10]:
df1[['id','price']].to_csv('SampleSubmission.csv', index = False)

In [11]:
cols = df1.columns.tolist()

In [12]:
df1 = df1[[
 'street_id',
 'build_tech',
 'floor',
 'rooms',
 'balcon',
 'metro_dist', 
 'n_photos',
 'kw1', 
 'kw3',
 'kw4',
 'kw6',
 'kw7',
 'kw8',
 'kw9',
 'kw10',
 'kw11',
 'kw12',
 'kw13',
 'id','price']]

In [13]:
df1.head()

,street_id,build_tech,floor,rooms,balcon,metro_dist,n_photos,kw1,kw3,kw4,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13,id,price
0,427,-999.0,9,3,1,30.0,5,1,0,0,0,0,0,0,0,0,0,0,100000,5.414428e+06
1,593,1.0,7,2,1,20.0,5,0,0,0,0,0,0,0,0,0,0,0,100001,8.224637e+06
2,91,0.0,4,3,0,30.0,2,0,0,0,0,0,0,0,0,0,0,0,100002,2.706089e+06
3,224,1.0,8,3,1,30.0,4,0,0,0,0,0,0,0,0,0,0,0,100003,6.731822e+06
4,426,-999.0,2,3,0,30.0,2,0,1,0,0,0,0,0,0,0,0,0,100004,2.048438e+06